<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<h1>質問編集</h1>

			<%= render 'form', question: @question %>

			<div class="row">
				<div class="col-lg-6">
					<%= link_to '詳細', @question, class: "btn btn-primary form-control", style: "color: #fff;" %>
				</div>
				<div class="col-lg-6">
					<%= link_to '戻る', questions_path, class: "btn btn-danger form-control", style: "color: #fff;" %>
				</div>
			</div>
		</div>
	</div>
</div>
